/* google font */
@import url(//fonts.googleapis.com/earlyaccess/nanumpenscript.css);
@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);
@import url(//fonts.googleapis.com/earlyaccess/hanna.css);
@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap');

/* COMMON */
.body__container{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #333;
}

a{
    text-decoration: none;
}

/* HEADER */
header {
    border-bottom: 1px solid rgba(0,0,0,.75);
    box-shadow: 0 0 5px rgba(0,0,0,.75);
    background: #FFF;
}
header .inner {
    height: 102px;
}
header .menu-group, header .logo {
    display: flex;
    align-items: center;
    height: 100%; /* inner heihgt값 사용 */
    padding: 0 12px;
}
header .logo a{
    width: 172px;
    height: 48px;
    display: block;
    font-size: 36px;
    letter-spacing: 10px;
    color:rgb(77, 76, 76);
    text-shadow:1px 1px 2px rgb(146, 138, 145);
    padding: 0 10px;
}
header .main-menu {
    display: flex;
}
header .main-menu li a {
    padding: 10px;
    display: block;
    color: #333;
}
header .main-menu li a:hover {
    color: #4078c0;
}



/* Toggle button */
#toggle-btn {
    display: none;
    background: url("../img/toggle-btn.svg");
    background-size: 36px 42px;
    width: 36px;
    height: 42px;
    position: absolute;
    top: 27px;
    right: 40px;
    cursor: pointer;
    text-indent: -9999px;
}

/* FLOAT CLEARFIX */
.clearfix:before, .clearfix:after {
    display: block;
    content: '';
    line-height: 0;
}
.clearfix:after {
    clear:both;
}
.clearfix {
	*zoom: 1;
}
.float--left {
    float: left;
}
.float--right {
    float: right;
}

/* SECTION & INNER */
.section{
    position: relative; /* 큰 영역에서는 position:relative 속성을 많이 사용함 */
    background: rgba(255, 255, 255, 0.692);
}
.section--fixed{
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}
.content .inner{
    padding-top:130px;
    height: 100%;
}
.section .inner, .content .inner{
    max-width: 980px; /* 크기지정하여 가운데로 정렬 */
    margin: 0 auto;
    box-sizing: border-box;
    position: relative; /* inner기준으로 다른것이 배치될 경우대비 */
}

/* CONTENT INTRODUCE */
.introduce{
    position: absolute;
    top: 50%;left: 50%;
    margin:-150px 0 0 -150px;
    width: 300px;
    height: 300px;
    background: white;
    border-radius: 50%;
    box-shadow: 2px 2px 2em white ;
    text-align: center;
}
.introduce .introduce__myself{
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 25% 12px;
    font-size: 20px;
    color:#444;
    box-sizing: border-box;
    /* font-family: 'Hanna', sans-serif; */
    font-family: 'Jeju Gothic', sans-serif;
    
}
.introduce .introduce__myself p{
    color:darkorange;
    line-height: 2.5rem;
}
.introduce #myself{
    font-size: 32px;
    color:tomato;
    height: 50px;
    padding: 10px 0;
    font-family: 'Nanum Pen Script', cursive;
}

/* CONTENT SKILLS */
.content--skills {
    /*background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);*/
    background: rgba(255, 255, 255, 0.747);
}
.content--otherSkills{
    background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
}
.content--skills .inner > h3, .content--otherSkills .inner > h3{
    text-align: center;
    font-size: 26px;
    font-weight: 600;
    padding: 1% 0;
    color:rgb(30, 32, 49);
    text-shadow: 3px 2px 1px rgba(82, 82, 82, 0.521);
}
.content--skills p, .content--otherSkills p{
    font-size: 14px;
    color:#ffffff;
    text-shadow: 3px 2px 3px rgba(31, 13, 114, 0.521);
    text-align: center;
}
.content--skills ul, .content--otherSkills ul{
    padding: 3% 50px;
    margin-top: 10px;
    opacity: 0;
    background: rgba(255, 255, 255, 0.699);
    border-radius: 50px;
}
.content--skills li, .content--otherSkills li{
    padding: 20px 24px;
    text-align: center;
    line-height: 1.5;
    box-sizing: border-box;
    float: left;
    width: 33.33333333%;
    display: inline;
}
.content--skills ul li i, .content--otherSkills ul li i{
    width: 100%;
    padding: 14px 24px;
    box-sizing: border-box;
    object-fit: contain;
}
.content--skills ul li h3, .content--otherSkills ul li h3{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}
.moreSkills{
    text-align: center;
    
    width: 100%;
}
.moreSkills a{
    color:rgba(255, 255, 255, 0.959);
    text-shadow: 1px 2px 3px rgba(12, 2, 2, 0.521);
}
.moreSkills__mark{
    width: 100px;
    height: auto;
    display: inline-block;
    animation: motion 0.3s linear 0s infinite alternate; margin-top: 0;
}
@keyframes motion {
	0% {margin-top: 0px;}
	100% {margin-top: 10px;}
}


/* CONTENT WORKS */
.content--works{
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}

/* CONTENT CONTACT ME */
.content--contact{
    background-image: linear-gradient(90deg, #f5f7fa 0%, #c3cfe2 100%);
}
.content--contact .contact__text{
    width:50%;
}
.content--contact h2{
    text-align: left;
    padding: 12px 0;
    font-size: 32px;
    font-weight: 500;
    font-family: 'Nanum Pen Script', cursive;
}
.content--contact .contact__main{
    font-family: 'Gowun Batang', serif;
    color:rgb(34, 34, 34);
    font-size: 16px;
}

@media screen and (max-width:1024px){
    header .section .inner{
        max-width: 980px;
        height: auto;
        padding: 0 20px;
    }
    header .menu-group {
        float:none;
        display: block;
    }
    header .main-menu{
        display: block;
        margin-bottom: 10px;
    }
    header .main-menu li{
        border-top: 1px solid #e5e5e5;
    }
    header .main-menu li a{
        padding: 16px 0;
    }    
    header .toggle{
        /* display: none; */
        visibility: hidden;
    }
    header .toggle ul{
        visibility: hidden;
        -webkit-transition: all .25s ease;
        -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
        -o-transition: all .25s ease;
        transition: all .25s ease;

    }
    header .toggle.on{
        /* display: block; */
        visibility: visible;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.521);
        position: absolute;
        padding: 0px 20px;
        top:100px;
        left: 0px;
    }
    header .toggle.on a{
        color: #444;
        display: block;
        font: bold 16px/50px sans-serif;
        padding: 0 25px;
        text-align: center;
        text-decoration: none;
        -webkit-transition: all .25s ease;
        -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
         -o-transition: all .25s ease;
         transition: all .25s ease;
    }
    header .toggle.on a:hover{
        color:salmon;
    }
    .content--skills li, .content--otherSkills li {
        width: 50%;
        height: 30%;
        padding: 0;
    }
    .content--contact .contact__text{
        width: 100%;
    }
    #toggle-btn{
        display: block;
    }
}