/* google font */
@import url(//fonts.googleapis.com/earlyaccess/nanumpenscript.css);
@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);
@import url(//fonts.googleapis.com/earlyaccess/hanna.css);
@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300&family=Nanum+Brush+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang&family=IBM+Plex+Sans+KR:wght@300&family=Nanum+Brush+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Besley:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap');

/* COMMON */
.body__container{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #333;
}

a{
    text-decoration: none;
}

/* HEADER */
header {
    border-bottom: 1px solid rgba(0,0,0,.75);
    box-shadow: 0 0 5px rgba(0,0,0,.75);
    background: #FFF;
}
header .inner {
    height: 102px;
}
header .menu-group, header .logo {
    display: flex;
    align-items: center;
    height: 100%; /* inner heihgt값 사용 */
    padding: 0 12px;
}
header .logo a{
    width: 172px;
    height: 48px;
    display: block;
    font-size: 36px;
    letter-spacing: 10px;
    font-family: 'Montserrat', sans-serif;
    color:rgb(77, 76, 76);
    text-shadow:1px 1px 2px rgb(146, 138, 145);
    padding: 0 10px;
}
header .main-menu {
    display: flex;
}
header .main-menu li a {
    padding: 10px;
    display: block;
    color: rgba(68, 68, 68, 0.959);
}
header .main-menu li a:hover {
    color: #4078c0;
}



/* Toggle button */
#toggle-btn {
    display: none;
    background: url("../img/toggle-btn.svg");
    background-size: 36px 42px;
    width: 36px;
    height: 42px;
    position: absolute;
    top: 27px;
    right: 40px;
    cursor: pointer;
    text-indent: -9999px;
}

/* FLOAT CLEARFIX */
.clearfix:before, .clearfix:after {
    display: block;
    content: '';
    line-height: 0;
}
.clearfix:after {
    clear:both;
}
.clearfix {
	*zoom: 1;
}
.float--left {
    float: left;
}
.float--right {
    float: right;
}

/* SECTION & INNER */
.section{
    position: relative; /* 큰 영역에서는 position:relative 속성을 많이 사용함 */
    background: rgba(255, 255, 255, 0.692);
}
.section--fixed{
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}
.content .inner{
    opacity: 0;
    padding-top:110px;
    height: 100%;
}
.section .inner, .content .inner{
    max-width: 980px; /* 크기지정하여 가운데로 정렬 */
    margin: 0 auto;
    box-sizing: border-box;
    position: relative; /* inner기준으로 다른것이 배치될 경우대비 */
}

/* CONTENT INTRODUCE */
.introduce{
    position: absolute;
    top: 50%;left: 50%;
    margin:-150px 0 0 -150px;
    width: 300px;
    height: 300px;
    background: white;
    border-radius: 50%;
    box-shadow: 2px 2px 2em white ;
    text-align: center;
}
.introduce .introduce__myself{
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 25% 12px;
    font-size: 20px;
    color:#444;
    box-sizing: border-box;
    /* font-family: 'Hanna', sans-serif; */
    font-family: 'Jeju Gothic', sans-serif;
    
}
.introduce .introduce__myself p{
    color:darkorange;
    line-height: 2.5rem;
}
.introduce #myself{
    font-size: 32px;
    color:tomato;
    height: 50px;
    padding: 10px 0;
    font-family: 'Nanum Pen Script', cursive;
}

/* CONTENT SKILLS */
.content--skills {
    /*background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);*/
    background: rgba(255, 255, 255, 0.747);
}
.content--otherSkills{
    background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
}
.content--skills .inner > h3, .content--otherSkills .inner > h3, .content--works .inner > h3{
    text-align: center;
    font-size: 34px;
    font-weight: 500;
    padding: 1% 0;
    color:rgb(36, 36, 36);
    font-family: inherit;
    letter-spacing: 1px;
    text-shadow: 3px 3px 2px rgba(26, 26, 26, 0.521);
}
.content--skills p, .content--otherSkills p, .content--works .inner > p{
    font-size: 21px;
    color:#3f3f3ff8;
    text-shadow: 3px 2px 3px rgba(189, 189, 189, 0.973);
    text-align: center;
    padding-bottom: 10px;
}
.content--skills ul, .content--otherSkills .clearfix{
    padding: 3% 50px;
    margin: 10px;
    background: rgba(255, 255, 255, 0.699);
    border-radius: 50px;
}
.content--skills li, .content--otherSkills li{
    padding: 20px 24px;
    text-align: center;
    line-height: 1.5;
    box-sizing: border-box;
    float: left;
    width: 33.33333333%;
    display: inline;
}
.content--skills ul li i, .content--otherSkills ul li i{
    width: 100%;
    padding: 14px 24px;
    box-sizing: border-box;
    object-fit: contain;
}
.content--skills ul li h3, .content--otherSkills ul li h3{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}
.moreSkills, .seeMore{
    text-align: center;
    width: 100%;
}
.seeMore{
    position: absolute;
    /* bottom: 10%; */
    margin-top: -100px;
    width: 100%;
    height: 80px;
    text-align: center;
}
.moreSkills a, .seeMore a{
    color:rgba(255, 255, 255, 0.959);
    text-shadow: 1px 2px 3px rgba(12, 2, 2, 0.521);
    font-size: 22px;
}
.moreSkills__mark{
    height: auto;
    display: inline-flex;
    animation: motion 0.3s linear 0s infinite alternate; margin-top: 0;
}
@keyframes motion {
	0% {margin-top: 0px;}
	100% {margin-top: 10px;}
}


/* CONTENT WORKS */
.content--works{
    background-color: #DCD9D4;
 background-image: linear-gradient(to bottom, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%), radial-gradient(at 50% 0%, rgba(255,255,255,0.10) 0%, rgba(0,0,0,0.50) 50%);
 background-blend-mode: soft-light,screen;
}
.content--works ul li .slide__text h3{
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 5px;
    font-family: 'Noto Sans KR', sans-serif;
}
.content--works ul li .slide__text h4{
    font-size: 16px;
    font-family: 'Hahmlet', serif;
}
.content--works ul li .slide__text h5{
    font-size: 14px;
    font-weight: 600;
    margin: 3px;
    font-family: 'IBM Plex Sans KR', sans-serif;
}
.content--works ul li .slide__text ul{
    border-bottom: 1px solid lightgray;
    padding-bottom: 5px;
}
.content--works ul li .slide__text ul li{
    list-style: inside;
    font-family: 'Gowun Batang', serif;
    font-size: 12px;
}
.content--works ul li .slide__text .projectSkills{
    float: left;
    border: 1px solid rgb(173, 173, 173);
    background: #FFF;
    border-radius: 20%;
    padding: 1px;
    margin: 3px;
    font-family: 'Jura', sans-serif;
    font-size: 1px;
}


/* CONTENT CONTACT ME */
.content--contact{
    background-image: linear-gradient(90deg, #f5f7fa 0%, #c3cfe2 100%);
}
.content--contact .contact__text, .content--contact .contact__link{
    width:48%;
    padding: 0 2%;
    float: left;
    box-sizing: border-box;
}
.content--contact .contact__title{
    width: 100%;
    height: auto;
    display: flow-root;
}
.content--contact h2{
    text-align: left;
    padding: 12px 10px;
    font-size: 32px;
    font-weight: 500;
    font-family: 'Nanum Pen Script', cursive;
}
.content--contact .contact__main{
    font-family: 'Gowun Batang', serif;
    color:rgb(34, 34, 34);
    font-size: 16px;
    padding: 10px 20px;
}
.content--contact .contact__main p{
    padding: 12px 0;
}
.content--contact .contact__link{
    height: 80%;
    padding: 1%;
    margin: 1%;

}
.content--contact .contact__form{
    border:1px solid rgba(138, 138, 138, 0.5);
    background: #FFF;
    height: 100%;
    box-shadow: 3px 3px 8px rgb(150, 150, 150);
}
.contact__form .link__top{
    border-bottom:2px solid rgba(74, 74, 78, 0.5);
    width: 100%;
    height:10%;
    margin-bottom: 10px;
    text-align: center;
}
.contact__form .link__top h3{
    font-family: 'Nanum Pen Script', cursive;
    font-size: 34px;
    color:rgb(71, 66, 66);
}
.contact__form .link__medium{
    cursor: pointer;
    width:40%;
    height:10%;
    margin-bottom: 10px;
}
.contact__form .link__medium .myInsta{
    width:30%;
    height:100%;
    margin-left: 10px;
    border-radius: 50%;
    background-image: url("../img/sumin__insta.jpg");
    background-size: cover;
}
.contact__form .link__medium .myInstaID{
    width:50%;
    height:100%;
    margin-left: 10px;
    text-align: left;
    font-size: 18px;
}
.contact__form .link__medium .myInstaID  h5{
    font-size:10px;
    color:gray;
}
.contact__form .link__bottom{
    width: 100%;
    height: 70%;
}
.contact__form .link__bottom .myPhoto{
    width: 100%;
    height:60%;
    border:1px solid gray;
    margin-bottom: 10px;
    background-color: black;
    box-sizing: border-box;
    text-align: center;
    overflow: hidden;
}
.contact__form .link__bottom .myPhoto__img{
    width: 50%;
    height: 100%;
    background-image: url("../img/sumin.jpg");
    background-size: cover !important ;
    background-repeat: no-repeat;
    text-align: center;
    display: inline-block;
    transition: transform .2s;
}
.contact__form .link__bottom .myPhoto__img:hover{
    transform: scale(1.8);
    overflow: hidden;
}
.contact__form .link__bottom .myContact{
    height: 10%;
    width: 50%;
    margin-bottom: 10px;
}
.link__bottom .myContact .myHeart{
    float: left;
}
.link__bottom .myContact .fullHeart{
    display: none;
}
.link__bottom .myContact .myHeart, 
.link__bottom .myContact .myGit,
.link__bottom .myContact .myFacebook{
    width: 30%;
    height: 100%;
    margin-left: 3%;
    cursor: pointer;
}
.contact__form .link__medium .myInstaID a,
.link__bottom .myContact .myGit a,
.link__bottom .myContact .myFacebook a{ 
    text-decoration: none;
    color:black;

}
.contact__link .link__bottom .myComment{
    padding:5px 10px;
}
.contact__link .link__bottom .myLikes{
    width: 30%;
    height: 5%;
    font-weight: 600;
}
.contact__link .link__bottom .myLikes #myLikes__num{
    display: contents;
}
.contact__link .link__bottom .myTag{
    /*width: 60%;*/
    height: 5%;
    color:rgb(26, 26, 145);
    cursor: pointer;
}
.contact__link .link__bottom .myTag a{
    color:rgb(26, 26, 145);    
}

@media screen and (max-width:1024px){
    header .section .inner{
        max-width: 980px;
        height: auto;
        padding: 0 20px;
    }
    header .menu-group {
        float:none;
        display: block;
    }
    header .main-menu{
        display: block;
        margin-bottom: 10px;
    }
    header .main-menu li{
        border-top: 1px solid #e5e5e5;
    }
    header .main-menu li a{
        padding: 16px 0;
    }    
    header .toggle{
        /* display: none; */
        visibility: hidden;
    }
    header .toggle ul{
        visibility: hidden;
        -webkit-transition: all .25s ease;
        -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
        -o-transition: all .25s ease;
        transition: all .25s ease;
        
    }
    header .toggle.on{
        /* display: block; */
        visibility: visible;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.521);
        position: absolute;
        padding: 0px 20px;
        top:100px;
        left: 0px;
    }
    header .toggle.on a{
        color: #444;
        display: block;
        font: bold 16px/50px sans-serif;
        padding: 0 25px;
        text-align: center;
        text-decoration: none;
        -webkit-transition: all .25s ease;
        -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
        -o-transition: all .25s ease;
        transition: all .25s ease;
    }
    header .toggle.on a:hover{
        color:salmon;
    }
    .content .inner{
        padding-top: 100px;
    }
    .content .seeMore{
        margin: -80px 0px;
    }
    .content--skills li, .content--otherSkills li {
        width: 50%;
        height: 30%;
        padding: 0;
    }
    .content--skills .inner h3,
    .content--otherSkills .inner h3,
    .content--skills ul li h3, 
    .content--otherSkills ul li h3, 
    .content--works .inner h3{
        font-size: 16px;
        padding-top: 10px;
    }
    .content--skills ul li i, .content--otherSkills ul li i{
        font-size: 50px;
    }
    .content--skills .inner .moreSkills .moreSkills__mark a{
        font-size: 16px;
    }
    .content--skills p, 
    .content--otherSkills p,
    .content--works .inner p{
        font-size: 8px;
    }
    .content--contact .contact__text, .content--contact .contact__link{
        width: 98%;
        box-sizing: border-box;
    }
    .content--contact .contact__text{
        height: 25%;
        padding-top: 15px;
    }
    .content--contact .contact__link{
        height: 60%;
    }
    .content--contact .contact__main p{
        padding:0;
        font-size: 10px;
    }
    .content--contact .contact__title h2{
        font-size: 24px;
    }
    .content--contact .contact__title .float--right,
    .content--contact .contact__title .float--left{
        width: 90%;
        padding-top: 0;
        padding-bottom: 0;
    }
    .content--contact .contact__title .float--right{
        float: none;
    }
    .content--contact .contact__delete{
        display: none;
    }
    .content--contact .contact__form{
        height: 100%;
    }
    .content--contact .contact__form .link__medium{
        width: 55%;
    }
    .content--contact .contact__form .myInstaID a{
        font-size: 14px;
    }
    .content--contact .contact__form .myContact{
        font-size: 8px;
        margin: 0;
    }
    .content--otherSkills .clearfix{
        margin: 10px;
    }
    #toggle-btn{
        display: block;
    }
}