/* reset.css */

/* 전체 요소의 기본 스타일을 초기화합니다 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 태그별 기본 스타일을 초기화합니다 */
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strong,
sub,
sup,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 태그의 기본 스타일을 초기화합니다 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* body 태그의 기본 스타일을 초기화합니다 */
body {
  line-height: 1;
}

/* ol, ul 태그의 기본 스타일을 초기화합니다 */
ol,
ul {
  list-style: none;
}

/* a 태그의 기본 스타일을 초기화합니다 */
a {
  text-decoration: none;
  color: inherit;
}

/* img 태그의 기본 스타일을 초기화합니다 */
img {
  border: 0;
}
